.logo, body { color: #fff; }
.logo, .no-warning, .total-weight { background-color: #333; }
body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  background-color: #252525;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
.logo {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 410px;
}
.total-weight-container, h2 { font-weight: 700; font-size: 18px; }
.custom-prices h2, .guides { margin-bottom: 10px; }
a { color: #ccc; text-decoration: none; }
a:hover { text-decoration: underline; }
.guides { margin-top: 20px; }
.button-container { margin-bottom: 20px; }
.total-weight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.no-warning, .total-profit, .total-weight, .warning {
  display: inline-block;
  padding: 5px 10px;
  visibility: visible;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
}
.total-weight-label { margin-right: 10px; white-space: nowrap; }
.total-profit, .warning { background-color: #9a1818; }
.button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
  width: 130px;
  font-size: 9px;
  text-align:left;
  padding-left: 5px;
}
.empty-button, .reset-button {
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 700;
}
.button:hover { background-color: #555; }
.button:active { background-color: #333; transform: translateY(2px); }
.empty-button {
  padding: 15px;
  margin-top: 8px;
  background-color: #9a1818;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 410px;
}
.orange-warning, .yellow-warning {
  display: inline-block;
  padding: 5px 10px;
  visibility: visible;
  margin-right: 10px;
  color: #fff;
}
.empty-button:focus, .empty-button:hover, .reset-button:hover { background-color: #751515; }
.empty-button:active, .reset-button:active { background-color: #5b0d0d; transform: translateY(2px); }
.orange-warning { background-color: #eb8c34; border-radius: 5px; }
.yellow-warning { background-color: #b38f02; border-radius: 5px; }
#bucket {
  color: #fff;
  background-color: #333;
  padding: 10px;
  min-height: 400px;
  max-height: 400px;
  max-width: 200px;
  overflow-y: auto;
  border-radius: 5px;
}
.custom-prices { margin-top: 20px; }
.custom-price-input {
  width: 51px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.reset-button {
  padding: 15px;
  margin-top: 8px;
  background-color: #9a1818;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 175px;
}
.container-fluid{
  padding-top: 10px;
}
footer { color: #fff; margin-top: auto; height: 40px; }
